<div class="container offset">
  <h1><%= @project.name %> Project</h1>
  <div class="col-md-6 col-md-offset-3">
    <h4 class="text-center">Total Project Completion Progress</h4>
    <div class="progress ">
      <div class="progress-bar" data-transitiongoal="<%= @project.construction_percentage %>"></div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <hr/>
    <h4 id="asset-index-subheader" class="text-center">Associated Funds For This Project</h4>
    <% @funds.each do |fund| %>
      <h2 class="text-center"><%= fund.name %></h2>
    <% end %>
    <hr/>
    <h3>Assets</h3>
  </div>
  <% @assets.each do |asset| %>
    <div class="col-md-6 col-md-offset-3 asset-container col-xs-6 col-xs-offset-3 text-center">
      <div class="col-md-4 col-xs-12">
        <%= image_tag "asset_sample.jpg", class: "asset-index-image" %>
      </div>
      <div class="col-md-4 col-xs-12">
        <p class="asset-description"><%= asset.street_address %></p>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="progress">
          <div class="progress-bar progress-bar-danger" data-transitiongoal="<%= asset.completion_percentage %>"></div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-6 col-md-offset-3 text-center">
    <%= will_paginate @assets, renderer: BootstrapPagination::Rails %>
  </div>
</div>
