<!DOCTYPE html>
<html>
<head>
  <title>Romano Capital</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top">

  <% unless current_page?(root_url) %>
    <%= render 'layouts/navbar' %>
  <% end %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible offset" role="alert">
      <button type="button" data-dismiss="alert" class="close" aria-labe="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
    </div>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>

</html>
